# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
DATABASE_URL=postgresql://postgres:password@localhost:5432/thegolfdraw

# JWT Configuration
JWT_SECRET=your_jwt_here_hai
JWT_EXPIRE=7d

# CORS Configuration
CORS_ORIGIN=http://localhost:3000
